technical acknowledgement/xsd/extensions/PUF-ExtensionComponent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Module:            xsd/extension/PUF-ExtensionComponent.xsd
  Generated on:      2018-02-27 
  Copyright (c) Pagero Group. All Rights Reserved.
-->
<xsd:schema xmlns="urn:pagero:ExtensionComponent:1.0"
	xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
	xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
	xmlns:ccts-cct="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ccts="urn:un:unece:uncefact:documentation:2"
	targetNamespace="urn:pagero:ExtensionComponent:1.0" elementFormDefault="qualified"
	attributeFormDefault="unqualified" version="1.0">
	<!-- ===== Imports ===== -->
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
		schemaLocation="../common/UBL-CommonBasicComponents-2.3.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
		schemaLocation="../common/UBL-CommonAggregateComponents-2.3.xsd"/>
	<xsd:import namespace="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2"
		schemaLocation="../common/BDNDR-UnqualifiedDataTypes-1.1.xsd"/>
	<!-- ===== Element Declarations ===== -->
	<xsd:element name="Amount" type="PUFAmountType"/>
	<xsd:element name="IDType" type="PUFIDType"/>
	<xsd:element name="Code" type="PUFCodeType"/>
	<xsd:element name="Key" type="PUFCodeType"/>
	<xsd:element name="Value" type="PUFTextType"/>
	<xsd:element name="ReferencedDocumentSentToClearanceDate" type="PUFDateType"/>
	<xsd:element name="AdditionalDocumentReference" type="cac:DocumentReferenceType"/>


	<xsd:element name="PageroExtension">
		<xsd:annotation>
			<xsd:documentation>This element is to be considered as the root element in the pagero
				extension</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ResponseExtension" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RestrictedInformation" minOccurs="0"
								maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Key" minOccurs="1" maxOccurs="1"/>
										<xsd:element ref="Value" minOccurs="1" maxOccurs="1"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>

							<xsd:element name="ReferencedDocumentInterchangeID" minOccurs="0"
								maxOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>

							<xsd:element name="ClearanceReferenceID" minOccurs="0" maxOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							
							<xsd:element name="ClearanceQR" minOccurs="0" maxOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="QRString" type="PUFTextType" minOccurs="0" maxOccurs="1"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>

							<xsd:element name="ReferencedDocumentSentToClearanceDate" minOccurs="0"
								maxOccurs="1"/>

							<xsd:element ref="AdditionalDocumentReference" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>
										<ccts:Component>
											<ccts:ComponentType>ASBIE</ccts:ComponentType>
											<ccts:DictionaryEntryName>Billing Reference. Additional_
												Document Reference. Document
												Reference</ccts:DictionaryEntryName>
											<ccts:Definition>A reference to an additional
												document.</ccts:Definition>
											<ccts:Cardinality>0..1</ccts:Cardinality>
											<ccts:ObjectClass>Billing Reference</ccts:ObjectClass>
											<ccts:PropertyTermQualifier>Additional</ccts:PropertyTermQualifier>
											<ccts:PropertyTerm>Document
												Reference</ccts:PropertyTerm>
											<ccts:AssociatedObjectClass>Document
												Reference</ccts:AssociatedObjectClass>
											<ccts:RepresentationTerm>Document
												Reference</ccts:RepresentationTerm>
										</ccts:Component>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<xsd:any namespace="##other" processContents="lax" minOccurs="0"
								maxOccurs="1"/>
						</xsd:sequence>
					</xsd:complexType>

				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


	<!--Types-->
	<xsd:complexType name="PUFCodeType">
		<xsd:simpleContent>
			<xsd:extension base="ccts-cct:CodeType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PUFIDType">
		<xsd:simpleContent>
			<xsd:extension base="ccts-cct:CodeType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PUFAmountType">
		<xsd:simpleContent>
			<xsd:extension base="ccts-cct:AmountType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PUFIndicatorType">
		<xsd:simpleContent>
			<xsd:extension base="ccts-cct:IndicatorType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PUFDateType">
		<xsd:simpleContent>
			<xsd:extension base="ccts-cct:DateTimeType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PUFTextType">
		<xsd:simpleContent>
			<xsd:extension base="ccts-cct:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
